<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <queries><package android:name="${remHostPackage}" /></queries>
    <application android:label="REM Watch Status" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <service android:name=".WatchStatusPluginService" android:exported="true">
            <intent-filter><action android:name="network.reticulum.emergency.PLUGIN_V1" /></intent-filter>
            <meta-data android:name="rem.plugin.id" android:value="org.freetakteam.rem.plugin.watch_status" />
            <meta-data android:name="rem.plugin.displayName" android:value="Watch Status Server" />
            <meta-data android:name="rem.plugin.version" android:value="1.0.0" />
            <meta-data android:name="rem.plugin.apiMajor" android:value="1" />
            <meta-data android:name="rem.plugin.apiMinor" android:value="1" />
            <meta-data android:name="rem.plugin.capabilities" android:value="{&quot;operationalRead&quot;:true}" />
            <meta-data android:name="rem.plugin.messages" android:value="[]" />
            <meta-data android:name="rem.plugin.configurationEntrypoint" android:value="rem-plugin-config/index.html" />
        </service>
    </application>
</manifest>
